@import url('style/normalize.css');

* {
  box-sizing: border-box;
}

html {
  background-color: #131313;
  color: #CEE7F8;
  line-height: 1.5;
  font-family: Oswald;
  font-weight: 100;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #CEE7F8;
}

address {
  font-style: normal;
}

address > span {
  display: block;
}

h1 {
  margin: 0;
  line-height: 1;
  font-weight: 100;
  font-size: 2.3em;
}

/* header */
.header {
  position: absolute;
  top: 2em;
  left: 2em;
  width: 13em;
}

.header__logo {
  width: 10em;
  margin-top: 1.5em;
}

.menu-default-container {
  margin: 2em 0 0 0;
  position: fixed;
  bottom: 4em;
  right: 0;
  width: 6em;
}

.menu-default-container a {
  text-decoration: none;
}

.menu-default-container li {
  padding: .3em 0;
}

.menu-default-container li.current_page_item a,
.menu-default-container li.current-menu-item a {
  text-decoration: underline;
}

.menu-default-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

/* content wrapper */
.content {
  margin-right: 7em;
}

.content__category-divider {
  background-color: #fff;
  padding: 2em 0 2em 5.4em;
  font-size: 3.2em;
  font-weight: lighter;
  margin: 0;
}

.content__category-divider:before {
  content: '_____________';
  letter-spacing: -5;
}

/* posts */
.post__header > div,
.post__content {
  background-color: #131313;
  padding: .7em;
  width: 550px;
  margin-left: 250px;
}

.post__header h2 {
  margin: 0 0 0 1.55em;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1em;
}

.post__header h1 {
  margin-bottom: .3em;
}

.post__header > div {
  margin-bottom: 2px;
}

.post__header a {
  text-decoration: none;
}

.post__header h1 {
  margin-left: .65em;
  position: relative;
  display: inline-block;
}

.post__header h1:before {
  position: absolute;
}

.post__header h1:before {
  content: '»';
  left: -.6em;
}

.post__header h1:after {
  content: '«';
  display: inline-block;
  padding-left: .15em;
}

.post__header div > strong {
  display: block;
  font-weight: lighter;
  font-size: 1.3em;
  margin-left: 1.15em;
}

.post__content {
  margin-top: -15%;
  font-size: 1.15em;
}

.post__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 1px;
  height: 100%;
}

.post__image--empty {
  height: auto;
}

.post__images {
  background-color: #fff;
  padding: 1em 0;
  color: #333;
}

.post__images--page {
  margin-left: 17.5em;
  width: 35em;
}

.post__images a {
  color: #333;
}

.post__content > p:first-child {
  margin-top: 0;
}

/* footer */
footer .header__logo {
  margin-left: 2em;
  margin-bottom: 16em;
}

/* fluid for tablets and phones */
@media only screen and ( max-width: 820px ) {
  .header__logo {
    width: 6em;
  }

  .header {
    width: 8em;
  }

  .post__header > div,
  .post__content {
    margin-left: 180px;
    width: 450px;
  }
}

/* fluid for tablets and phones */
@media only screen and ( max-width: 650px ) {
  .header {
    position: static;
    padding: .5em 0;
    width: 100%;
  }

  .header__logo {
    display: none;
  }

  .menu-default-container {
    margin: 0 10%;
    padding: 0 1em;
  }

  .menu-default-container li {
    display: inline-block;
    margin: 0 1em 0 0;
  }

  .post__header > div,
  .post__content {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
  }

  .post__content {
    margin-top: -30%;
  }
}

#logo {
  fill: red;
}